<a href="https://colab.research.google.com/github/Rainwoods72/test/blob/main/2023_05_19_%EC%88%98%EC%97%85%EB%AC%B8%EC%A0%9C%EC%A0%95%EB%8B%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#특정 문장을 입력했을때, 아래와 같은 결과가 나오게 만드시오(모음 : a, e, i, o, u)
(6줄 이하)

In [ ]:
input_string = input()
vowel_count = 0
for char in input_string:
    if char in ['a', 'e', 'i', 'o', 'u']:
        vowel_count += 1
print(("모음의 수는 : {}개").format(vowel_count))

ai class is so much fun
모음의 수는 : 7개

#2000, 2021, 2100, 2024, 1996의 값을 하나의 리스트로 만들고 윤년일 경우와 아닐경우를 아래와 같이 나타내시오 (4로 나누어 떨어지거나, 100으로 나누어 떨어지거나, 400으로 나누어 떨어지는 년도)
(6줄 이하)

In [ ]:
years = [2000, 2021, 2100, 2024, 1996]
for year in years:
    if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
        print(("{}년도는 윤년입니다.").format(year))
    else:
        print(("{}년도는 윤년이 아닙니다.").format(year))

2000년도는 윤년입니다.
2021년도는 윤년이 아닙니다.
2100년도는 윤년이 아닙니다.
2024년도는 윤년입니다.
1996년도는 윤년입니다.

#아래와 같은 코드를 작성하시오 
(6줄 이하)

In [ ]:
numbers = []
for i in range(10):
    number = int(input("정수를 입력하세요 : "))
    if number % 5 == 0:
        numbers.append(number)
print(("5의 배수의 리스트는 : {} 입니다.").format(numbers))

정수를 입력하세요 : 5
정수를 입력하세요 : 20
정수를 입력하세요 : 31
정수를 입력하세요 : 50
정수를 입력하세요 : 100
정수를 입력하세요 : 70
정수를 입력하세요 : 80
정수를 입력하세요 : 90
정수를 입력하세요 : 22
정수를 입력하세요 : 447
5의 배수의 리스트는 : [5, 20, 50, 100, 70, 80, 90] 입니다.

#리스트에 라면, 3000, 생수, 2500, 과자,1500, 삼각김밥, 1000을 저장하고 아래와 같이 나타내시오
(10줄 이하) for문 if문 무조껀 사용

In [ ]:
a=["라면", 3000, "생수", 2500, "과자",1500, "삼각김밥", 1000]
b=[]
c=[]
for i in range(len(a)):
  if i%2==0:
    b.append(a[i])
  else:
    c.append(a[i])
print(b)
print(c)

['라면', '생수', '과자', '삼각김밥']
[3000, 2500, 1500, 1000]

##1번의 딕셔너리 값을 2번 값으로 변경하시오
단 새로운 딕셔너리를 만들어서 변경할순없다.

In [ ]:
student = {"name": "John", "age": 20, "grade": "A"}
student

{'name': 'John', 'age': 20, 'grade': 'A'}

In [ ]:
age_value = student["age"]
student["city"] = "New York"
del student["grade"]
student["age"] = 21
student

{'name': 'John', 'age': 21, 'city': 'New York'}