<a href="https://colab.research.google.com/github/Rainwoods72/test/blob/main/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name="오상학"
age="22"
a="이름: {0}, 나이: {1}".format(name,age)
print(a)

이름: 오상학, 나이: 22

In [ ]:
for i in range(1,10):
  print("-------"+str(i)+"단-------")
  for j in range(1,10):
    print("구구단 : ",i,"X",j,"=",i*j,"입니다")

-------1단-------
구구단 :  1 X 1 = 1 입니다
구구단 :  1 X 2 = 2 입니다
구구단 :  1 X 3 = 3 입니다
구구단 :  1 X 4 = 4 입니다
구구단 :  1 X 5 = 5 입니다
구구단 :  1 X 6 = 6 입니다
구구단 :  1 X 7 = 7 입니다
구구단 :  1 X 8 = 8 입니다
구구단 :  1 X 9 = 9 입니다
-------2단-------
구구단 :  2 X 1 = 2 입니다
구구단 :  2 X 2 = 4 입니다
구구단 :  2 X 3 = 6 입니다
구구단 :  2 X 4 = 8 입니다
구구단 :  2 X 5 = 10 입니다
구구단 :  2 X 6 = 12 입니다
구구단 :  2 X 7 = 14 입니다
구구단 :  2 X 8 = 16 입니다
구구단 :  2 X 9 = 18 입니다
-------3단-------
구구단 :  3 X 1 = 3 입니다
구구단 :  3 X 2 = 6 입니다
구구단 :  3 X 3 = 9 입니다
구구단 :  3 X 4 = 12 입니다
구구단 :  3 X 5 = 15 입니다
구구단 :  3 X 6 = 18 입니다
구구단 :  3 X 7 = 21 입니다
구구단 :  3 X 8 = 24 입니다
구구단 :  3 X 9 = 27 입니다
-------4단-------
구구단 :  4 X 1 = 4 입니다
구구단 :  4 X 2 = 8 입니다
구구단 :  4 X 3 = 12 입니다
구구단 :  4 X 4 = 16 입니다
구구단 :  4 X 5 = 20 입니다
구구단 :  4 X 6 = 24 입니다
구구단 :  4 X 7 = 28 입니다
구구단 :  4 X 8 = 32 입니다
구구단 :  4 X 9 = 36 입니다
-------5단-------
구구단 :  5 X 1 = 5 입니다
구구단 :  5 X 2 = 10 입니다
구구단 :  5 X 3 = 15 입니다
구구단 :  5 X 4 = 20 입니다
구구단 :  5 X 5 = 25 입니다
구구단 :  5 X 6 = 30 입니다
구구단 :  5 X 7 = 35 입니다
구구단 :  5 X 8 = 40 입니다
구구단 :  5 X 9 = 45 입니다
-------6단-------
구구단 :  6 X 1 = 6 입니다
구구단 :  6 X 2 = 12 입니다
구구단 :  6 X 3 = 18 입니다
구구단 :  6 X 4 = 24 입니다
구구단 :  6 X 5 = 30 입니다
구구단 :  6 X 6 = 36 입니다
구구단 :  6 X 7 = 42 입니다
구구단 :  6 X 8 = 48 입니다
구구단 :  6 X 9 = 54 입니다
-------7단-------
구구단 :  7 X 1 = 7 입니다
구구단 :  7 X 2 = 14 입니다
구구단 :  7 X 3 = 21 입니다
구구단 :  7 X 4 = 28 입니다
구구단 :  7 X 5 = 35 입니다
구구단 :  7 X 6 = 42 입니다
구구단 :  7 X 7 = 49 입니다
구구단 :  7 X 8 = 56 입니다
구구단 :  7 X 9 = 63 입니다
-------8단-------
구구단 :  8 X 1 = 8 입니다
구구단 :  8 X 2 = 16 입니다
구구단 :  8 X 3 = 24 입니다
구구단 :  8 X 4 = 32 입니다
구구단 :  8 X 5 = 40 입니다
구구단 :  8 X 6 = 48 입니다
구구단 :  8 X 7 = 56 입니다
구구단 :  8 X 8 = 64 입니다
구구단 :  8 X 9 = 72 입니다
-------9단-------
구구단 :  9 X 1 = 9 입니다
구구단 :  9 X 2 = 18 입니다
구구단 :  9 X 3 = 27 입니다
구구단 :  9 X 4 = 36 입니다
구구단 :  9 X 5 = 45 입니다
구구단 :  9 X 6 = 54 입니다
구구단 :  9 X 7 = 63 입니다
구구단 :  9 X 8 = 72 입니다
구구단 :  9 X 9 = 81 입니다

In [25]:
g=0
exam=[60,80,95,69,90,81,80,69,79,66,70,90,96]
for i in exam:
  if i>=90:
    g="A"
  elif i>=80:
    g="B"
  elif i>=70:
    g="C"
  elif i>=60:
    g="D"
  else:
    g="E"
  print("당신의 성적은 ",i,"이므로 등급은 ",g,"입니다")

당신의 성적은  60 이므로 등급은  D 입니다
당신의 성적은  80 이므로 등급은  B 입니다
당신의 성적은  95 이므로 등급은  A 입니다
당신의 성적은  69 이므로 등급은  D 입니다
당신의 성적은  90 이므로 등급은  A 입니다
당신의 성적은  81 이므로 등급은  B 입니다
당신의 성적은  80 이므로 등급은  B 입니다
당신의 성적은  69 이므로 등급은  D 입니다
당신의 성적은  79 이므로 등급은  C 입니다
당신의 성적은  66 이므로 등급은  D 입니다
당신의 성적은  70 이므로 등급은  C 입니다
당신의 성적은  90 이므로 등급은  A 입니다
당신의 성적은  96 이므로 등급은  A 입니다

In [ ]:
sum=0
for i in range(1,11):
  sum=sum+i
  print("i의 값: ",i,", 합계: ",sum)

i의 값:  1 , 합계:  1
i의 값:  2 , 합계:  3
i의 값:  3 , 합계:  6
i의 값:  4 , 합계:  10
i의 값:  5 , 합계:  15
i의 값:  6 , 합계:  21
i의 값:  7 , 합계:  28
i의 값:  8 , 합계:  36
i의 값:  9 , 합계:  45
i의 값:  10 , 합계:  55

In [ ]:
noodle=10000
print("짜장면을 주문합니다. 금액을 입력하세요.")
money=int(input())
if money >= noodle:
  print("구매 가능")
else:
  print("구매 불가능")

짜장면을 주문합니다. 금액을 입력하세요.
15000
구매 가능