<a href="https://colab.research.google.com/github/Rainwoods72/test/blob/main/%EC%88%98%EC%97%85%EC%9E%90%EB%A3%8C_%EC%A0%9C%EC%96%B4%EB%AC%B8_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 100m 달리기 아래는 달리기 성적 기록이다. 이때 9초 이상 11초 미만 합격, 11초 이상 13초 미만 재시험, 13초 초과 불합격을 프린트하시오

* input을 활용해 만들기
* 9, 10, 11, 12, 15, 25, 13, 12, 9.5, 10.6, 11.2, 9.5

In [16]:
A=[9, 10, 11, 12, 15, 25, 13, 12, 9.5, 10.6, 11.2, 9.5]
for i in range(len(A)):
  a=float(A[i])
  if a>=9 and a<11:
    print("합격")
  elif a>=11 and a<13:
    print("재시험")
  elif a>13:
    print("불합격")
  else:
    print("잘못된 값")

합격
합격
재시험
재시험
불합격
불합격
잘못된 값
재시험
합격
합격
재시험
합격

합격
합격
재시험
재시험
불합격
불합격
시간을 입력해주세요
재시험
합격
합격
재시험
합격

합격
합격
재시험
재시험
불합격
불합격
시간을 입력해주세요
재시험
합격
합격
재시험
합격

##짜장면 : 10,000원, 짬뽕 : 11,000원, 탕수육 22,000원, 볶음밥 : 9,000원을 딕셔너리 형태로 저장하고 메뉴 이름과 금액을 각각 다른 리스트에 저장해 두 개의 리스트로 만들어서 프린트하시오(for 문 사용)

In [23]:
menu={"짜장면" : "10,000원", "짬뽕" : "11,000원", "탕수육" : "22,000원", "볶음밥" : "9,000원"}
menu1=[]
menu2=[]
for key,value in menu.items():
  menu1.append(key)
  menu2.append(value)
print(menu1)
print(menu2)

['짜장면', '짬뽕', '탕수육', '볶음밥']
['10,000원', '11,000원', '22,000원', '9,000원']

##10명의 학생이 있다 각 학생들은 중국집에서 한가지 메뉴를 주문 할 수 있다. 이때 위에서 만든 메뉴판을 활용해 각각 학생들이 한가지 메뉴를 입력하게 하고 메뉴들의 총 합을 더해서 프린트하시오(리스트를 활용해 문제해결)

In [29]:
total=[]
for i in range(1,11):
  c=input(("{}번 학생의 주문 : ").format(i))
  if c==menu1[0]:
    total.append(10000)
  elif c==menu1[1]:
    total.append(11000)
  elif c==menu1[2]:
    total.append(22000)
  elif c==menu1[3]:
    total.append(9000)
  else:
    print("잘못된 메뉴 주문")
sum_list=(sum(total))
print(sum_list)

1번 학생의 주문 : 짜장면
2번 학생의 주문 : 짜장면
3번 학생의 주문 : 짜장면
4번 학생의 주문 : 짜장면
5번 학생의 주문 : 짜장면
6번 학생의 주문 : 짜장면
7번 학생의 주문 : 짜장면
8번 학생의 주문 : 짜장면
9번 학생의 주문 : 짜장면
10번 학생의 주문 : 짜장면
100000

##10명의 학생이 있다 각 학생들은 중국집에서 한가지 메뉴를 주문 할 수 있다. 이때 위에서 만든 메뉴판을 활용해 각각 학생들이 한가지 메뉴를 입력하게 하고 메뉴들의 총 합을 더해서 프린트하시오(딕셔러니를 활용해 문제 해결)

##while문을 사용해 1부터 10까지 프린트 하시오


*   i+=1 이 의미는 i에 +1을 해서 이것을 다시 i에 저장해준다는 뜻

In [35]:
i=1
while i<11:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

##while문을 사용해 1부터 10까지 프린트 하시오 이때 i가 3의 배수이면 while문을 멈춰주세요

In [37]:
i=1
while i<11:
  if i%3==0:
    break
  else:
    print(i)
    i+=1

1
2

##while문을 사용해 1부터 10까지 프린트 하시오 이때 i가 3의 배수가 아닌값만 프린트 하시오

In [41]:
i=0
while i<10:
  i+=1
  if i%3==0:
    continue
  else:
    print(i)

1
2
4
5
7
8
10

##리스트에 라면, 3000, 생수, 2500, 과자,1500, 삼각김밥, 1000을 저장하고 리스트에서 메뉴명과 금액을 각각 따로 빼서 menu, money의 이름을 가지는 리스트로 각각 만드시오

In [62]:
list=["라면", 3000, "생수", 2500, "과자",1500, "삼각김밥", 1000]
menu=[]
money=[]
i=0
while i<8:
  if type(list[i])==str:
    menu.append(list[i])
  else:
    money.append(list[i])
  i+=1
print(menu)
print(money)

['라면', '생수', '과자', '삼각김밥']
[3000, 2500, 1500, 1000]

##while, for, if문을 활용해 아래와 같은 결과가 나오도록 만드시오

In [75]:
total=[]
while True:
  for i,j in zip(menu,money):
    print(("{}: {}원").format(i,j))
  selc=input("구매하고 싶은 물건을 선택하세요 : ")
  for k in range(len(menu)):
    if selc==menu[k]:
      total.append(money[k])
      print("*"*30)
      break
  if selc=="done":
    break
print(sum(total))

라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 물건을 선택하세요 : 라면
******************************
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 물건을 선택하세요 : 삼각김밥
******************************
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 물건을 선택하세요 : 생수
******************************
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 물건을 선택하세요 : 과자
******************************
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 물건을 선택하세요 : 과자
******************************
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 물건을 선택하세요 : 삼각김밥
******************************
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 물건을 선택하세요 : done
10500