<a href="https://colab.research.google.com/github/Rainwoods72/test/blob/main/%EC%A0%9C%EC%96%B4%EB%AC%B8_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
text=["김철수/20", "이철수/24", "김영희/21", "이영희/24", "김민준/35", "박민준/40", "김지영/34", "박지영/35"]

In [ ]:
a=[]
for i in text:
  strings = i.split('/')
  a.append(strings)
print(a)

[['김철수', '20'], ['이철수', '24'], ['김영희', '21'], ['이영희', '24'], ['김민준', '35'], ['박민준', '40'], ['김지영', '34'], ['박지영', '35']]

In [ ]:
for i in range(len(a)):
  print(("{}는 {}살이다.").format(a[i][0], a[i][1]))

김철수는 20살이다.
이철수는 24살이다.
김영희는 21살이다.
이영희는 24살이다.
김민준는 35살이다.
박민준는 40살이다.
김지영는 34살이다.
박지영는 35살이다.

##for문을 활용해 50 부터 83까지 print 하시오

In [2]:
for i in range(50,84):
  print(i)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83

##하나의 빈 리스트 a=[]를 만들고 1단 부터 9단까지의 구구단의 결과 값을 a라는 하나의 리스트에 저장하시오

In [4]:
a=[]
for i in range(1,10):
  for j in range(1,10):
    b=i*j
    a.append(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

##위에서 만들어진 a라는 리스트에서 최초의 64, 81이 속하는 위치값을 도출하시오

In [9]:
c=a.index(64)
d=a.index(81)
print(c, d)

70 80

## 아이스크림의 이름과 가격을 딕셔너리 형태로 저장하시오
## 바밤바 : 1500원, 메로나 : 1500원, 붕어싸만코 : 2000원, 월드콘 : 3000원, 투게더 : 5000원

In [10]:
icecream={"바밤바":"1500원","메로나":"1500원","붕어싸만코":"2000원","월드콘":"3000원","투게더":"5000원"}

## 해당 딕셔너리에 월드콘을 삭제하고 쌍쌍바 : 2000원을 추가하시오

In [11]:
del icecream["월드콘"]
icecream["쌍쌍바"]="2000원"
print(icecream)

{'바밤바': '1500원', '메로나': '1500원', '붕어싸만코': '2000원', '투게더': '5000원', '쌍쌍바': '2000원'}

## for문을 활용해 1단부터 9단까지 곱한 결과를 나타낼때 아래의 리스트를 써서 표현하시오
## a=["1단","2단","3단","4단","5단","6단","7단","8단","9단"]

In [23]:
a=["1단","2단","3단","4단","5단","6단","7단","8단","9단"]
for i in range(1,10):
  print("--------",a[i-1],"----------")
  for j in range(1,10):
    print(i,"X",j,"=",i*j)

-------- 1단 ----------
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
-------- 2단 ----------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
-------- 3단 ----------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
-------- 4단 ----------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
-------- 5단 ----------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
-------- 6단 ----------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
-------- 7단 ----------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
-------- 8단 ----------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
-------- 9단 ----------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81